In [1]:
# Importação de bibliotecas

import pandas as pd

In [4]:
df = pd.read_csv('dados/dados_ranking_politicos_2022.csv', sep='\t', encoding='utf-8')
df.head()

,Unnamed: 0,posicao,nome,cargo,partido,pontuacao,estado,presidente
0,0,0,Eduardo Girão,Senador,PODEMOS,8.34,CE,False
1,1,1,Alex Manente,Deputado Federal,CIDADANIA,8.28,SP,False
2,2,2,Adriana Ventura,Deputado Federal,NOVO,8.10,SP,False
3,3,3,Lucas Redecker,Deputado Federal,PSDB,8.08,RS,False
4,4,4,Carlos Portinho,Senador,PL,8.05,RJ,False

In [14]:
df.groupby('partido')['pontuacao'].mean().sort_values(ascending=False)

partido
NOVO             7.810000
CIDADANIA        7.320000
PODEMOS          7.015000
PL               6.782118
PTB              6.770000
PSDB             6.732759
PATRIOTA         6.628000
S.PART.          6.570000
PSC              6.569000
PP               6.520159
UNIÃO            6.466897
REPUBLICANOS     6.312045
PSD              6.311034
PROS             6.291667
MDB              6.207917
AVANTE           5.943333
SOLIDARIEDADE    5.423750
PV               4.145000
PDT              4.055909
PSB              4.028333
REDE             3.990000
PSOL             2.926250
PT               2.890000
PCdoB            2.515000
Name: pontuacao, dtype: float64

In [15]:
df.groupby('estado')['pontuacao'].mean().sort_values(ascending=False)

estado
SC    6.901053
MT    6.290000
AM    6.288182
ES    6.217692
PR    6.215758
GO    6.200000
RR    6.063636
DF    6.056364
RJ    6.045714
SP    6.025068
MS    5.993636
RO    5.870000
RS    5.857353
AL    5.824167
PI    5.812308
MG    5.760182
TO    5.745455
AC    5.621818
PA    5.560500
AP    5.541818
PB    5.537333
MA    5.506667
RN    5.468000
CE    5.232500
PE    5.229630
BA    5.101905
SE    4.990000
Name: pontuacao, dtype: float64